@model pt_2b.Models.THSForm

@{
    ViewBag.Title = "Создание 360";
    Layout = "~/Views/Shared/_Layout.cshtml";
    pt_2b.Models.DataBase db = new pt_2b.Models.DataBase();
    int orgId = Int32.Parse(Request.QueryString["orgId"]);
    pt_2b.Models.Organisation org = db.Organisations.Where(x => x.id == orgId).Single();
}

<h2>@org.name</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Создание анкеты 360</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, "Название", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.organisationId, new { @Value = Request.QueryString["orgId"] })

        <div class="form-group">
            @Html.LabelFor(model => model.targetName, "Имя таргета", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.targetName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.targetName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.defScenario, "Сценарий по умолчанию", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.defScenario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.defScenario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" type="submit">Сохранить</button>
            </div>
        </div>
    </div>
}

<div>
    @if (Request.QueryString["orgId"] != null)
    {
        <a href="/organisation/details/@Request.QueryString["orgId"].ToString()">Вернуться к организации</a>
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
