@model pt_2b.Models.THSForm

@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
@using pt_2b.Models;
@{
    DataBase db = new DataBase();
    string answered = db.THSUsers.Where(x => x.thsId == Model.id && x.answered == 1).Count().ToString();
    string total = db.THSUsers.Where(x => x.thsId == Model.id).Count().ToString();
    var notCompleted = db.THSUsers.Where(x => x.thsId == Model.id && x.answered == 0).Join(db.User, t => t.userId, u => u.id, (t, u) => new
    {
        name = u.name
        ,surname = u.surname
        ,id = u.id
        ,email = u.email
        ,code = t.code
        ,uIType = t.thsUType
    });
    var allUsers = db.THSUsers.Where(x => x.thsId == Model.id).Join(db.User, t => t.userId, u => u.id, (t, u) => new
    {
        name = u.name
        ,surname = u.surname
        ,id = u.id
        ,email = u.email
        ,code = t.code
        ,uIType = t.thsUType
        ,answered = t.answered
        ,tID = t.id
    }).OrderBy(t => t.surname).ThenBy(t => t.name);
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organisationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organisationId)
        </dd>

        <dt>
            Ответов
        </dt>

        <dd>
            @answered из @total&nbsp;&nbsp;<a href="/thsforms/results?id=@Model.id">скачать результаты</a>
        </dd>
        <dt>
            Не заполнили
        </dt>

        <dd>
            @foreach (var u in notCompleted)
            {
                <a href="/THSForms/SendEmail?id=@Model.id&orgId=@Request.QueryString["orgId"]&userId=@u.id&uIType=@u.uIType">письмо</a> @(u.surname + " " + u.name)<br/>
            }
        </dd>
    </dl>
</div>
<p>
    @if (Request.QueryString["orgId"] != null)
    {
        <a href="/THSForms/Edit/@Model.id?orgId=@Request.QueryString["orgId"]">Редактировать</a>
        @Html.Raw("|")
        <a href="/organisation/Details/@Request.QueryString["orgId"]">Вернуться</a>
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
        @Html.Raw(" | ") @Html.ActionLink("Back to List", "Index")
    }
</p>
<div>
    <h4>Анкетирумые (@allUsers.Count().ToString()) <a href="/thsforms/THSUsersAdd?thsId=@Model.id&orgId=@Request.QueryString["orgId"]">добавить</a></h4>
    <table class="table">
    @foreach (var u in allUsers)
    {
        <tr>
            <td>
                @(u.surname + " " + u.name)
            </td>
            <td>
                @db.THSUserType.Where(x => x.id == u.uIType).Select(x => x.name).Single()
            </td>
            <td>
                @if (u.answered != 1)
                {
                    <a href="/thsusers/Delete/@u.tID?thsId=@Model.id&orgId=@Request.QueryString["orgId"]">Удалить</a>
                }
            </td>
        </tr>
    }
    </table>
</div>
<a href="/THSForms/SendEmail?id=@Model.id&orgId=@Request.QueryString["orgId"]">Разослать письма</a>
