@model pt_2b.Models.Organisation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
@using pt_2b.Models;
@{
    DataBase db = new DataBase();
}
    <h4>Оценки 360</h4>
    @foreach (THSForm item in db.THSForms.Where(m => m.organisationId == Model.id))
    {
        <div>
            <a href="/THSForms/Details/@item.id">@item.name</a>
        </div>
    }
</div>
