@model IEnumerable<pt_2b.Models.AspNetUser>

@{
    pt_2b.Models.Organisation org = (pt_2b.Models.Organisation)ViewData["org"];

    ViewBag.Title = org.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>«<a href="/organisation/details/@org.id">@org.name</a>» — пользователи</h2>

<p>
    <a href="/organisation/usersCreate?orgId=@org.id">Добавить пользователя</a> | <a href="/organisation/importusers?orgId=@org.id">Импорт пользователей из файла</a>
</p>
<table class="table">
    <tr>
        <th>
            Фамилия
        </th>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Почта
        </th>
        <th>
            Пол
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                <a href="/organisation/usersEdit/@item.Id?orgId=@org.id">Редактировать</a> |
                <a href="/organisation/usersdelete/@item.Id?orgId=@org.id">Удалить</a>
            </td>
        </tr>
    }

</table>
