@model pt_2b.Models.FormBox
@{
    ViewBag.Title = Model.form.name;
    Layout = "~/Views/Shared/_FormTemplate.cshtml";
}
<div class="jumbotron">
    @using (Html.BeginForm("filling", "form", FormMethod.Post))
    {
        <!--<h5>
            @Model.form.name
        </h5>-->
        <h5>
            Вопрос @(Model.currentQuestion + 1) из @Model.form.questions.Count()
        </h5>
        <!--<hr />-->
        <h4 id="testQuestionText">@Html.Raw(@Model.form.questions[@Model.currentQuestion].text)</h4>

        <div class="form-group">
            @if (Model.form.questions[Model.currentQuestion].type == "hard")
            {
                <div class="btn-group-vertical" data-toggle="buttons">
                    @foreach (var a in Model.form.questions[Model.currentQuestion].answers)
                    {
                        <label class="btn btn-default" id="answerHardButton"><input type="radio" name="answerHard" id="answerHard" value="@a.Value" />@a.Value</label>
                    }
                </div>
            }
            else if (Model.form.questions[Model.currentQuestion].type == "soft")
            {
                <div class="btn-group-vertical" data-toggle="buttons">
                    @foreach (var a in Model.form.questions[Model.currentQuestion].answers)
                    {
                        <label class="btn btn-default" id="answerSoftButton" style="text-align: left;"><input type="checkbox" name="@("answer" + a.position)" id="@("answer" + a.position)" value="@a.Value" />@a.Value</label>
                    }
                </div>
            }
            else if (Model.form.questions[Model.currentQuestion].type == "text")
            {
                <textarea class="form-control" rows="5" name="answerText"></textarea>
            }
        </div>

        <div class="btn-group">
            <button name="action" value="prev" type="submit" class="btn btn-default" @Model.disableBack id="backButton">&laquo; Назад</button>
            <button name="action" value="next" type="submit" class="btn btn-primary" id="nextButton">Вперед &raquo;</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/pt")
}