
@{
    ViewBag.Title = "Анкетирование test.psycho.ru";
    Layout = "~/Views/Shared/_FormTemplate.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Form", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3>Здравствуйте!</h3>
                if (Session["tBox"] == null && Session["thsBox"] == null)
                {
                    <div class="input-group">
                        <input type="text" class="form-control" name="code" required="required" placeholder="кодовое слово">
                        <span class="input-group-btn">
                            <button type="submit" name="action" value="next" class="btn btn-primary" id="submitButton">Начать тест &raquo;</button>
                        </span>
                    </div>
                    if (Session["CheckMessage"] != null)
                    {
                        <div class="text-danger">
                            @Session["CheckMessage"].ToString()
                        </div>
                    }
                }
                else if (Session["tBox"] != null)
                {
                    var testName = ((pt_2b.Models.FormBox)Session["tBox"]).form.name;
                    <div>
                        Вы можете <a href="/form/filling">продолжить заполнение анкеты «@testName»</a>.
                    </div>
                }
                else if (Session["thsBox"] != null)
                {
                    var testName = ((pt_2b.Models.FormBox)Session["thsBox"]).form.name;
                    <div>
                        Вы можете <a href="/thsforms/filling">продолжить заполнение анкеты «@testName»</a>.
                    </div>
                }
            }
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pt")
}

